---
layout: layouts/page.vto
templateEngine: [vto, md]
---
<section class="[ ] [ full-width ] [ region bg-secondary-800 ]">
    <h1 class="section-title color-neutral-50 text--centered">{{ title }}</h1>
</section>
<article class="[ algemene-voorwaarden ] [ narrow ] [ region flow ]">
{{- content -}}
</article>