---
layout: layouts/page.vto
templateEngine: [vto, md]

title: Algemene Voorwaarden
description: Some cool page description

metas:
  title: =title
  description: =description
---
<section class="[ ] [ full-width ] [ region bgcolor-secondary-800 ]">
    <h1 class="section-title color-neutral-50 text--centered">{{ title }}</h1>
</section>
<article class="[ av ] [ narrow ] [ region flow ]">
{{- content -}}
</article>