@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Flex group
// -----------------------------------------------------------------------------

.flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-group-gap, #{$flex-group-gap});
}