---
layout: layouts/page.vto
---

<section class="[ projecten ] [ full-width ] [ region ]">
    <h1 class="section-subtitle">{{ projects_section.subtitle }}</h1>
    <h2 class="section-title h1">{{ projects_section.title }}</h2>
    <hr>
    {{ set projecten = search.pages("type=project", "order=desc") }}
    <div class="grid-auto-fit" data-cols="two">
      {{ include "projects-list.vto" { projecten } }}
    </div>
</section>