// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$-clr-red-50: #FAEEEB;
$-clr-red-100: #F8DCD6;
$-clr-red-150: #F6CABF;
$-clr-red-200: #f5b7a8;
$-clr-red-250: #f5a390;
$-clr-red-300: #f38f79;
$-clr-red-350: #f17961;
$-clr-red-400: #f06048;
$-clr-red-450: #ee402e;
$-clr-red-500: #d93526;
$-clr-red-550: #c52f21;
$-clr-red-600: #af291d;
$-clr-red-650: #9b2318;
$-clr-red-700: #861d13;
$-clr-red-750: #72170f;
$-clr-red-800: #5c160d;
$-clr-red-850: #45150c;
$-clr-red-900: #30130a;
$-clr-red-950: #1c0d06;



$-clr-pink-50: #fbedef;
$-clr-pink-100: #f9dbdf;
$-clr-pink-150: #f9c8ce;
$-clr-pink-200: #f9b4be;
$-clr-pink-250: #f99eae;
$-clr-pink-300: #f8889e;
$-clr-pink-350: #f7708e;
$-clr-pink-400: #f6547e;
$-clr-pink-450: #f42c6f;
$-clr-pink-500: #d92662;
$-clr-pink-550: #c72259;
$-clr-pink-600: #b21e4f;
$-clr-pink-650: #9d1945;
$-clr-pink-700: #88143b;
$-clr-pink-750: #740f31;
$-clr-pink-800: #5f0e28;
$-clr-pink-850: #4b0c1f;
$-clr-pink-900: #380916;
$-clr-pink-950: #25060c;



$-clr-fuchsia-50: #fbedf4;
$-clr-fuchsia-100: #f9daea;
$-clr-fuchsia-150: #f9c6e1;
$-clr-fuchsia-200: #f9b1d8;
$-clr-fuchsia-250: #fa9acf;
$-clr-fuchsia-300: #f983c7;
$-clr-fuchsia-350: #f869bf;
$-clr-fuchsia-400: #f748b7;
$-clr-fuchsia-450: #ed2aac;
$-clr-fuchsia-500: #d9269d;
$-clr-fuchsia-550: #c1208b;
$-clr-fuchsia-600: #ac1c7c;
$-clr-fuchsia-650: #98176d;
$-clr-fuchsia-700: #84135e;
$-clr-fuchsia-750: #700e4f;
$-clr-fuchsia-800: #5c0d41;
$-clr-fuchsia-850: #480b33;
$-clr-fuchsia-900: #360925;
$-clr-fuchsia-950: #230518;



$-clr-purple-50: #F8EEF9;
$-clr-purple-100: #F2DCF4;
$-clr-purple-150: #EDC9F1;
$-clr-purple-200: #E7B6EE;
$-clr-purple-250: #E2A3EB;
$-clr-purple-300: #DB90E8;
$-clr-purple-350: #D47DE4;
$-clr-purple-400: #CD68E0;
$-clr-purple-450: #C652DC;
$-clr-purple-500: #B645CD;
$-clr-purple-550: #AA40BF;
$-clr-purple-600: #9236A4;
$-clr-purple-650: #802E90;
$-clr-purple-700: #6F277D;
$-clr-purple-750: #5E206B;
$-clr-purple-800: #4D1A57;
$-clr-purple-850: #3D1545;
$-clr-purple-900: #2D0F33;
$-clr-purple-950: #1E0820;



$-clr-violet-50: #F3EFF7;
$-clr-violet-100: #E8DFF2;
$-clr-violet-150: #DECFED;
$-clr-violet-200: #D3BFE8;
$-clr-violet-250: #C9AFE4;
$-clr-violet-300: #BD9FDF;
$-clr-violet-350: #B290D9;
$-clr-violet-400: #A780D4;
$-clr-violet-450: #9B71CF;
$-clr-violet-500: #9062CA;
$-clr-violet-550: #8352C5;
$-clr-violet-600: #7540BF;
$-clr-violet-650: #6935B3;
$-clr-violet-700: #5B2D9C;
$-clr-violet-750: #4D2585;
$-clr-violet-800: #3F1E6D;
$-clr-violet-850: #321856;
$-clr-violet-900: #251140;
$-clr-violet-950: #190928;



$-clr-indigo-50: #F2F0F9;
$-clr-indigo-100: #E5E0F4;
$-clr-indigo-150: #D8D0F1;
$-clr-indigo-200: #CAC1EE;
$-clr-indigo-250: #BDB2EC;
$-clr-indigo-300: #B0A3E8;
$-clr-indigo-350: #A294E5;
$-clr-indigo-400: #9486E1;
$-clr-indigo-450: #8577DD;
$-clr-indigo-500: #7569DA;
$-clr-indigo-550: #655CD6;
$-clr-indigo-600: #524ED2;
$-clr-indigo-650: #4040BF;
$-clr-indigo-700: #3838AB;
$-clr-indigo-750: #2F2F92;
$-clr-indigo-800: #272678;
$-clr-indigo-850: #1F1E5E;
$-clr-indigo-900: #181546;
$-clr-indigo-950: #110B31;



$-clr-blue-50: #F0F0FB;
$-clr-blue-100: #E0E1FA;
$-clr-blue-150: #D0D2FA;
$-clr-blue-200: #BFC3FA;
$-clr-blue-250: #AEB5FB;
$-clr-blue-300: #9CA7FA;
$-clr-blue-350: #8999F9;
$-clr-blue-400: #748BF8;
$-clr-blue-450: #5C7EF8;
$-clr-blue-500: #3C71F7;
$-clr-blue-550: #2060DF;
$-clr-blue-600: #1D59D0;
$-clr-blue-650: #184EB8;
$-clr-blue-700: #1343A0;
$-clr-blue-750: #0F3888;
$-clr-blue-800: #0F2D70;
$-clr-blue-850: #0E2358;
$-clr-blue-900: #0C1A41;
$-clr-blue-950: #080F2D;



$-clr-azure-50: #E9F2FC;
$-clr-azure-100: #D1E5FB;
$-clr-azure-150: #B7D9FC;
$-clr-azure-200: #9BCCFD;
$-clr-azure-250: #79C0FF;
$-clr-azure-300: #51B4FF;
$-clr-azure-350: #01AAFF;
$-clr-azure-400: #029AE8;
$-clr-azure-450: #018CD4;
$-clr-azure-500: #017FC0;
$-clr-azure-550: #0172AD;
$-clr-azure-600: #02659A;
$-clr-azure-650: #015887;
$-clr-azure-700: #014C75;
$-clr-azure-750: #014063;
$-clr-azure-800: #033452;
$-clr-azure-850: #052940;
$-clr-azure-900: #061E2F;
$-clr-azure-950: #04121D;



$-clr-cyan-50: #C3FCFA;
$-clr-cyan-100: #58FAF9;
$-clr-cyan-150: #3DECEB;
$-clr-cyan-200: #25DDDD;
$-clr-cyan-250: #0CCECE;
$-clr-cyan-300: #0AC2C2;
$-clr-cyan-350: #0AB1B1;
$-clr-cyan-400: #05A2A2;
$-clr-cyan-450: #059494;
$-clr-cyan-500: #058686;
$-clr-cyan-550: #047878;
$-clr-cyan-600: #046A6A;
$-clr-cyan-650: #025D5D;
$-clr-cyan-700: #015050;
$-clr-cyan-750: #014343;
$-clr-cyan-800: #043737;
$-clr-cyan-850: #052B2B;
$-clr-cyan-900: #051F1F;
$-clr-cyan-950: #041413;



$-clr-jade-50: #CBFCE1;
$-clr-jade-100: #70FCBA;
$-clr-jade-150: #39F1A6;
$-clr-jade-200: #21E299;
$-clr-jade-250: #00CC88;
$-clr-jade-300: #00C482;
$-clr-jade-350: #00B478;
$-clr-jade-400: #00A66E;
$-clr-jade-450: #029764;
$-clr-jade-500: #00895A;
$-clr-jade-550: #007A50;
$-clr-jade-600: #006D46;
$-clr-jade-650: #005F3D;
$-clr-jade-700: #015234;
$-clr-jade-750: #00452B;
$-clr-jade-800: #033823;
$-clr-jade-850: #042C1B;
$-clr-jade-900: #052014;
$-clr-jade-950: #04140C;



$-clr-green-50: #D7FBC1;
$-clr-green-100: #95FB62;
$-clr-green-150: #77EF3D;
$-clr-green-200: #62D926;
$-clr-green-250: #5DD121;
$-clr-green-300: #55C21E;
$-clr-green-350: #4EB31B;
$-clr-green-400: #47A417;
$-clr-green-450: #409614;
$-clr-green-500: #398712;
$-clr-green-550: #33790F;
$-clr-green-600: #2C6C0C;
$-clr-green-650: #265E09;
$-clr-green-700: #205107;
$-clr-green-750: #1A4405;
$-clr-green-800: #173806;
$-clr-green-850: #152B07;
$-clr-green-900: #131F07;
$-clr-green-950: #0B1305;



$-clr-lime-50: #DEFC85;
$-clr-lime-100: #C1F335;
$-clr-lime-150: #B2E51A;
$-clr-lime-200: #A5D601;
$-clr-lime-250: #99C801;
$-clr-lime-300: #8EB901;
$-clr-lime-350: #82AB00;
$-clr-lime-400: #779C00;
$-clr-lime-450: #6C8F00;
$-clr-lime-500: #628100;
$-clr-lime-550: #577400;
$-clr-lime-600: #4D6600;
$-clr-lime-650: #435A00;
$-clr-lime-700: #394D00;
$-clr-lime-750: #304100;
$-clr-lime-800: #273500;
$-clr-lime-850: #202902;
$-clr-lime-900: #191D03;
$-clr-lime-950: #101203;



$-clr-yellow-50: #FDF1B4;
$-clr-yellow-100: #F2DF0D;
$-clr-yellow-150: #E8D600;
$-clr-yellow-200: #D9C800;
$-clr-yellow-250: #CABA01;
$-clr-yellow-300: #BBAC00;
$-clr-yellow-350: #AD9F00;
$-clr-yellow-400: #9E9200;
$-clr-yellow-450: #908501;
$-clr-yellow-500: #827800;
$-clr-yellow-550: #756B00;
$-clr-yellow-600: #685F00;
$-clr-yellow-650: #5B5300;
$-clr-yellow-700: #4E4700;
$-clr-yellow-750: #423C00;
$-clr-yellow-800: #363100;
$-clr-yellow-850: #2B2600;
$-clr-yellow-900: #1F1C02;
$-clr-yellow-950: #141103;



$-clr-amber-50: #FCEFD9;
$-clr-amber-100: #FDDEA6;
$-clr-amber-150: #FECC63;
$-clr-amber-200: #FFBF00;
$-clr-amber-250: #E8AE01;
$-clr-amber-300: #D8A100;
$-clr-amber-350: #C79400;
$-clr-amber-400: #B78800;
$-clr-amber-450: #A77C00;
$-clr-amber-500: #977000;
$-clr-amber-550: #876400;
$-clr-amber-600: #785800;
$-clr-amber-650: #694D00;
$-clr-amber-700: #5B4200;
$-clr-amber-750: #4D3700;
$-clr-amber-800: #3F2D00;
$-clr-amber-850: #312302;
$-clr-amber-900: #231A03;
$-clr-amber-950: #161003;



$-clr-pumpkin-50: #FCEEE3;
$-clr-pumpkin-100: #FCDCC1;
$-clr-pumpkin-150: #FCCA9B;
$-clr-pumpkin-200: #FEB670;
$-clr-pumpkin-250: #FFA23A;
$-clr-pumpkin-300: #FF9500;
$-clr-pumpkin-350: #E48500;
$-clr-pumpkin-400: #D27A01;
$-clr-pumpkin-450: #BF6E00;
$-clr-pumpkin-500: #AD6400;
$-clr-pumpkin-550: #9C5900;
$-clr-pumpkin-600: #8B4F00;
$-clr-pumpkin-650: #7A4400;
$-clr-pumpkin-700: #693A00;
$-clr-pumpkin-750: #593100;
$-clr-pumpkin-800: #482802;
$-clr-pumpkin-850: #372004;
$-clr-pumpkin-900: #271805;
$-clr-pumpkin-950: #180F04;



$-clr-orange-50: #FAEEEA;
$-clr-orange-100: #F9DCD2;
$-clr-orange-150: #F8CAB9;
$-clr-orange-200: #F8B79F;
$-clr-orange-250: #F8A283;
$-clr-orange-300: #F68E68;
$-clr-orange-350: #F56B3D;
$-clr-orange-400: #F45D2C;
$-clr-orange-450: #E74B1A;
$-clr-orange-500: #D24317;
$-clr-orange-550: #BD3C13;
$-clr-orange-600: #A83410;
$-clr-orange-650: #942D0D;
$-clr-orange-700: #7F270B;
$-clr-orange-750: #6B220A;
$-clr-orange-800: #561E0A;
$-clr-orange-850: #411A0A;
$-clr-orange-900: #2D1509;
$-clr-orange-950: #1B0D06;



$-clr-sand-50: #F2F0EC;
$-clr-sand-100: #E8E2D2;
$-clr-sand-150: #DAD4C2;
$-clr-sand-200: #DAD4C2;
$-clr-sand-250: #BEB8A7;
$-clr-sand-300: #B0AB9B;
$-clr-sand-350: #A39E8F;
$-clr-sand-400: #959082;
$-clr-sand-450: #888377;
$-clr-sand-500: #7B776B;
$-clr-sand-550: #6E6A60;
$-clr-sand-600: #615E55;
$-clr-sand-650: #55524A;
$-clr-sand-700: #49463F;
$-clr-sand-750: #3D3B35;
$-clr-sand-800: #32302B;
$-clr-sand-850: #272622;
$-clr-sand-900: #1C1B19;
$-clr-sand-950: #111110;



$-clr-grey-50: #F1F1F1;
$-clr-grey-100: #E2E2E2;
$-clr-grey-150: #D4D4D4;
$-clr-grey-200: #C6C6C6;
$-clr-grey-250: #B9B9B9;
$-clr-grey-300: #ABABAB;
$-clr-grey-350: #9E9E9E;
$-clr-grey-400: #919191;
$-clr-grey-450: #808080;
$-clr-grey-500: #777777;
$-clr-grey-550: #6A6A6A;
$-clr-grey-600: #5E5E5E;
$-clr-grey-650: #525252;
$-clr-grey-700: #474747;
$-clr-grey-750: #3B3B3B;
$-clr-grey-800: #303030;
$-clr-grey-850: #262626;
$-clr-grey-900: #1B1B1B;
$-clr-grey-950: #111111;



$-clr-zinc-50: #F0F1F3;
$-clr-zinc-100: #E0E3E7;
$-clr-zinc-150: #D1D5DB;
$-clr-zinc-200: #C2C7D0;
$-clr-zinc-250: #B3B9C5;
$-clr-zinc-300: #A4ACBA;
$-clr-zinc-350: #969EAF;
$-clr-zinc-400: #8891A4;
$-clr-zinc-450: #7B8495;
$-clr-zinc-500: #6F7887;
$-clr-zinc-550: #646B79;
$-clr-zinc-600: #5C6370;
$-clr-zinc-650: #4D535E;
$-clr-zinc-700: #424751;
$-clr-zinc-750: #373C44;
$-clr-zinc-800: #2D3138;
$-clr-zinc-850: #23262C;
$-clr-zinc-900: #191C20;
$-clr-zinc-950: #0F1114;



$-clr-slate-50: #EFF1F4;
$-clr-slate-100: #DFE3EB;
$-clr-slate-150: #CFD5E2;
$-clr-slate-200: #BFC7D9;
$-clr-slate-250: #B0B9D0;
$-clr-slate-300: #A0ACC7;
$-clr-slate-350: #909EBE;
$-clr-slate-400: #8191B5;
$-clr-slate-450: #7385A9;
$-clr-slate-500: #687899;
$-clr-slate-550: #5D6B89;
$-clr-slate-600: #525F7A;
$-clr-slate-650: #48536B;
$-clr-slate-700: #3D475C;
$-clr-slate-750: #333C4E;
$-clr-slate-800: #2A3140;
$-clr-slate-850: #202632;
$-clr-slate-900: #181C25;
$-clr-slate-950: #0E1118;


// -----------------------------------------------------------------------------
// THEME
// -----------------------------------------------------------------------------

$light: (
    "neutral": (
        "50": $-clr-zinc-50,
        "100": $-clr-zinc-100,
        "150": $-clr-zinc-150,
        "200": $-clr-zinc-200,
        "250": $-clr-zinc-250,
        "300": $-clr-zinc-300,
        "350": $-clr-zinc-350,
        "400": $-clr-zinc-400,
        "450": $-clr-zinc-450,
        "500": $-clr-zinc-500,
        "550": $-clr-zinc-550,
        "600": $-clr-zinc-600,
        "650": $-clr-zinc-650,
        "700": $-clr-zinc-700,
        "750": $-clr-zinc-750,
        "800": $-clr-zinc-800,
        "850": $-clr-zinc-850,
        "900": $-clr-zinc-900,
        "950": $-clr-zinc-950,
    ),
    "primary": (
        "50": $-clr-orange-50,
        "100": $-clr-orange-100,
        "150": $-clr-orange-150,
        "200": $-clr-orange-200,
        "250": $-clr-orange-250,
        "300": $-clr-orange-300,
        "350": $-clr-orange-350,
        "400": $-clr-orange-400,
        "450": $-clr-orange-450,
        "500": $-clr-orange-500,
        "550": $-clr-orange-550,
        "600": $-clr-orange-600,
        "650": $-clr-orange-650,
        "700": $-clr-orange-700,
        "750": $-clr-orange-750,
        "800": $-clr-orange-800,
        "850": $-clr-orange-850,
        "900": $-clr-orange-900,
        "950": $-clr-orange-950,
    ),
    "secondary": (
        "50": $-clr-blue-50,
        "100": $-clr-blue-100,
        "150": $-clr-blue-150,
        "200": $-clr-blue-200,
        "250": $-clr-blue-250,
        "300": $-clr-blue-300,
        "350": $-clr-blue-350,
        "400": $-clr-blue-400,
        "450": $-clr-blue-450,
        "500": $-clr-blue-500,
        "550": $-clr-blue-550,
        "600": $-clr-blue-600,
        "650": $-clr-blue-650,
        "700": $-clr-blue-700,
        "750": $-clr-blue-750,
        "800": $-clr-blue-800,
        "850": $-clr-blue-850,
        "900": $-clr-blue-900,
        "950": $-clr-blue-950,
    ),
);