// -----------------------------------------------------------------------------
//  FONT FAMILIES
// -----------------------------------------------------------------------------

$-ff-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$-ff-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$-ff-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-families: (
    "base": #{$-ff-sans},
    "accent": #{$-ff-serif},
    "mono": #{$-ff-mono},
);




// -----------------------------------------------------------------------------
// FONT SIZES
// -----------------------------------------------------------------------------

$font-sizes: (
    "200": clamp(0.7901rem, 0.7875rem + 0.013vw, 0.8rem),
    "300": clamp(0.8889rem, 0.8596rem + 0.1462vw, 1rem),
    "400": clamp(1rem, 0.9342rem + 0.3289vw, 1.25rem),
    "500": clamp(1.125rem, 1.0099rem + 0.5757vw, 1.5625rem),
    "600": clamp(1.2656rem, 1.0847rem + 0.9046vw, 1.9531rem),
    "700": clamp(1.4238rem, 1.156rem + 1.3389vw, 2.4414rem),
    "800": clamp(1.6018rem, 1.2202rem + 1.9078vw, 3.0518rem),
    "900": clamp(1.802rem, 1.2724rem + 2.6482vw, 3.8147rem),
);



// -----------------------------------------------------------------------------
// FONT WEIGHTS
// -----------------------------------------------------------------------------

$font-weights: (
    "thin": 100,
    "extralight": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "black": 900,
);