---
layout: layouts/page.vto
templateEngine: [vto,md]
---

<section class="[ services ] [ full-width ] [ region ]">
    <div class="grid-auto-fit" data-cols="two">
        <div class="flow">
            <h1 class="mt-0">{{ title }}</h1>
            {{- content |> md -}}
        </div>
        <img class="rounded-image" src="{{ image }}" alt="{{ title }}">
    </div>
</section>